In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from openpyxl.workbook import Workbook

pd.set_option('display.expand_frame_repr', False)

from datetime import datetime 
from dateutil.relativedelta import *
import os.path
df_arrays=[]
i=0
date=datetime.strptime('012015', "%m%Y").date()

while True:
  
    file_name=r'C:\Python_Projects\Proje_1\datas\Prim_%s.xls'%(date.strftime('%m%Y'))  
    #print(date.strftime('%m%Y'))
    if not os.path.isfile(file_name):
        break;
        if date>datetime.strptime('102018', "%m%Y").date():
            break
        continue;
    xls_file1 = pd.ExcelFile(file_name)
    df1 = xls_file1.parse('Genel Toplam', skiprows=5)
    df_1=df1.iloc[:,1:5]
    new_column=pd.to_datetime(date.strftime("%Y-%m"))
    df_1_1=df_1.assign(dates= new_column)
   
    
    df_1_1.columns=['Sirket','Sirket Kodu','Toplam Uretim','Pazar Payi','Dates']
    
    df_arrays.append(df_1_1)
    date=date+relativedelta(months=+1)
           



result=pd.concat(df_arrays,sort=False,ignore_index=True)
result = result.sort_values(by=['Sirket Kodu','Dates'], inplace=False)
result.columns=['Sirket','SirketKodu','ToplamUretim','PazarPayi','Dates']
#print(m)
filtered_result = result.query("SirketKodu.notnull() and Sirket!='SEKTÖR TOPLAMI'",engine='python')
#filtered_result['Sirket Kodu'].values.dtype
filtered_result1 = filtered_result.groupby(by='SirketKodu')
filtered_result2=filtered_result1.apply(lambda x: x.reset_index(drop=True))

#filtered_result.to_xls('output.xls')
#writer = pd.ExcelWriter('output.xlsx')
#filtered_result.to_xls(writer,'Sheet1')


#EXPORT TO EXCEL
#writer = pd.ExcelWriter('summary.xlsx')
#filtered_result.to_excel(writer, index=True)
#writer.save()


##DESCRIPTIVE STATISTICS
filtered_result2.describe()
filtered_result2.mean()

#Main Insurance Companies
Allianz= filtered_result2[filtered_result2['SirketKodu']==1004]
Anadolu = filtered_result2[filtered_result2['SirketKodu']==1005]
Ak = filtered_result2[filtered_result2['SirketKodu']==1003]
Axa = filtered_result2[filtered_result2['SirketKodu']==1009]
SompoJapan = filtered_result2[filtered_result2['SirketKodu']==1035]

#ALL COMPANIES TOTAL PREMIUM MEAN
filtered_result2['year']=filtered_result2['Dates'].dt.year
filtered_result2=filtered_result2.loc[:,['ToplamUretim','year']]
All_companies=filtered_result2.groupby(filtered_result2['year']).mean()
print(All_companies)

#ALLIANZ TOTAL PREMIUM Mean
Allianz['year']=Allianz['Dates'].dt.year
Allianz_mean=Allianz.loc[:,['ToplamUretim','year']]
Allianz_mean=Allianz_mean.groupby(Allianz_mean['year']).mean()
print(Allianz_mean)
print(Allianz)

#plt.scatter(All_companies,Allianz_mean)

#print(Allianz.index)
#print(Allianz_mean)

Allianz.loc[Allianz[index] = 2015, 'ToplamUretim'].plot()
plt.show()

#for c,name in filtered_result1.groups: 
 #   print(c)
  #  print(name)

#for name, group in filtered_result1: 
    # print the name of the regiment
    #print(name)
    # print the data of that regiment
    #print(group)
    #if name==1001:
         #print(name)
    # print the data of that regiment
        # print(group)
         #print("abcvdkklkşkş")
     #   x=group.SirketKodu
     #   y=group.ToplamUretim
      #  plt.scatter(x,y)
        
    #else:
       # break;

SyntaxError: invalid syntax (<ipython-input-35-49a0ccf73bf7>, line 89)

In [33]:
filtered_result2.describe()

       ToplamUretim         year
count  2.808000e+03  2808.000000
mean   3.394258e+08  2016.374644
std    6.015050e+08     1.082272
min    0.000000e+00  2015.000000
25%    3.080887e+07  2015.000000
50%    1.162487e+08  2016.000000
75%    3.679397e+08  2017.000000
max    5.775138e+09  2018.000000

In [36]:
print(Allianz.index)

MultiIndex(levels=[[1001.0, 1002.0, 1003.0, 1004.0, 1005.0, 1006.0, 1007.0, 1008.0, 1009.0, 1010.0, 1011.0, 1012.0, 1013.0, 1014.0, 1015.0, 1016.0, 1017.0, 1018.0, 1019.0, 1020.0, 1021.0, 1022.0, 1023.0, 1025.0, 1026.0, 1027.0, 1028.0, 1030.0, 1031.0, 1032.0, 1034.0, 1035.0, 1036.0, 1037.0, 1038.0, 1039.0, 1040.0, 1042.0, 1043.0, 1044.0, 1045.0, 1046.0, 2001.0, 2002.0, 2003.0, 2005.0, 2006.0, 2007.0, 2008.0, 3001.0, 3002.0, 3003.0, 3004.0, 3005.0, 3006.0, 3007.0, 3008.0, 3009.0, 3010.0, 3011.0, 3012.0, 3013.0, 3014.0, 3015.0, 3016.0, 3017.0, 3018.0, 3019.0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]],
           labels=[[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]],
           names=['SirketKodu', None])

In [38]:
print(Allianz)

                           Sirket  SirketKodu  ToplamUretim  PazarPayi      Dates  year
SirketKodu
1004.0     0   Allianz Sigorta AŞ      1004.0  3.782571e+08   0.123616 2015-01-01  2015
           1   Allianz Sigorta AŞ      1004.0  6.218240e+08   0.116168 2015-02-01  2015
           2   Allianz Sigorta AŞ      1004.0  9.046878e+08   0.114334 2015-03-01  2015
           3   Allianz Sigorta AŞ      1004.0  1.244728e+09   0.119467 2015-04-01  2015
           4   Allianz Sigorta AŞ      1004.0  1.537019e+09   0.120267 2015-05-01  2015
           5   Allianz Sigorta AŞ      1004.0  1.838133e+09   0.120622 2015-06-01  2015
           6   Allianz Sigorta AŞ      1004.0  2.124246e+09   0.120970 2015-07-01  2015
           7   Allianz Sigorta AŞ      1004.0  2.413630e+09   0.121929 2015-08-01  2015
           8   Allianz Sigorta AŞ      1004.0  2.714334e+09   0.123070 2015-09-01  2015
           9   Allianz Sigorta AŞ      1004.0  3.139411e+09   0.127981 2015-10-01  2015
           10  Allianz Sigorta AŞ      1004.0  3.478088e+09   0.128233 2015-11-01  2015
           11  Allianz Sigorta AŞ      1004.0  4.050873e+09   0.130564 2015-12-01  2015
           12  Allianz Sigorta AŞ      1004.0  4.946697e+08   0.127606 2016-01-01  2016
           13  Allianz Sigorta AŞ      1004.0  8.679779e+08   0.121443 2016-02-01  2016
           14  Allianz Sigorta AŞ      1004.0  1.330992e+09   0.124020 2016-03-01  2016
           15  Allianz Sigorta AŞ      1004.0  1.793541e+09   0.127857 2016-04-01  2016
           16  Allianz Sigorta AŞ      1004.0  2.289191e+09   0.131765 2016-05-01  2016
           17  Allianz Sigorta AŞ      1004.0  2.822341e+09   0.136611 2016-06-01  2016
           18  Allianz Sigorta AŞ      1004.0  3.262754e+09   0.139171 2016-07-01  2016
           19  Allianz Sigorta AŞ      1004.0  3.692622e+09   0.140317 2016-08-01  2016
           20  Allianz Sigorta AŞ      1004.0  4.135294e+09   0.141938 2016-09-01  2016
           21  Allianz Sigorta AŞ      1004.0  4.696252e+09   0.145033 2016-10-01  2016
           22  Allianz Sigorta AŞ      1004.0  5.137947e+09   0.143774 2016-11-01  2016
           23  Allianz Sigorta AŞ      1004.0  5.775138e+09   0.142642 2016-12-01  2016
           24  Allianz Sigorta AŞ      1004.0  5.241938e+08   0.112309 2017-01-01  2017
           25  Allianz Sigorta AŞ      1004.0  9.502651e+08   0.112943 2017-02-01  2017
           26  Allianz Sigorta AŞ      1004.0  1.421382e+09   0.114469 2017-03-01  2017
           27  Allianz Sigorta AŞ      1004.0  1.788783e+09   0.111256 2017-04-01  2017
           28  Allianz Sigorta AŞ      1004.0  2.198829e+09   0.111574 2017-05-01  2017
           29  Allianz Sigorta AŞ      1004.0  2.604344e+09   0.112568 2017-06-01  2017
           30  Allianz Sigorta AŞ      1004.0  2.916179e+09   0.110564 2017-07-01  2017
           31  Allianz Sigorta AŞ      1004.0  3.244577e+09   0.109183 2017-08-01  2017
           32  Allianz Sigorta AŞ      1004.0  3.609578e+09   0.107984 2017-09-01  2017
           33  Allianz Sigorta AŞ      1004.0  4.137348e+09   0.111146 2017-10-01  2017
           34  Allianz Sigorta AŞ      1004.0  4.525746e+09   0.110023 2017-11-01  2017
           35  Allianz Sigorta AŞ      1004.0  5.134074e+09   0.110280 2017-12-01  2017
           36  Allianz Sigorta AŞ      1004.0  5.218500e+08   0.095930 2018-01-01  2018
           37  Allianz Sigorta AŞ      1004.0  9.452704e+08   0.096715 2018-02-01  2018
           38  Allianz Sigorta AŞ      1004.0  1.468685e+09   0.100602 2018-03-01  2018
           39  Allianz Sigorta AŞ      1004.0  1.953612e+09   0.102450 2018-04-01  2018
           40  Allianz Sigorta AŞ      1004.0  2.424328e+09   0.102183 2018-05-01  2018
           41  Allianz Sigorta AŞ      1004.0  2.892109e+09   0.103747 2018-06-01  2018
           42  Allianz Sigorta AŞ      1004.0  2.916179e+09   0.110564 2018-07-01  2018
           43  Allianz Sigorta AŞ      1004.0  3.244577e+09   0.109183 2018-08-01  2018
           44  Allianz Sigorta AŞ      1004.0  4.121067e+09   0.104320 2018-09-01  2018

In [39]:
Allianz.index

MultiIndex(levels=[[1001.0, 1002.0, 1003.0, 1004.0, 1005.0, 1006.0, 1007.0, 1008.0, 1009.0, 1010.0, 1011.0, 1012.0, 1013.0, 1014.0, 1015.0, 1016.0, 1017.0, 1018.0, 1019.0, 1020.0, 1021.0, 1022.0, 1023.0, 1025.0, 1026.0, 1027.0, 1028.0, 1030.0, 1031.0, 1032.0, 1034.0, 1035.0, 1036.0, 1037.0, 1038.0, 1039.0, 1040.0, 1042.0, 1043.0, 1044.0, 1045.0, 1046.0, 2001.0, 2002.0, 2003.0, 2005.0, 2006.0, 2007.0, 2008.0, 3001.0, 3002.0, 3003.0, 3004.0, 3005.0, 3006.0, 3007.0, 3008.0, 3009.0, 3010.0, 3011.0, 3012.0, 3013.0, 3014.0, 3015.0, 3016.0, 3017.0, 3018.0, 3019.0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]],
           labels=[[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]],
           names=['SirketKodu', None])